body {
    background-color: black;
}

h1 {
    font-family: "arial";
    font-style: italic;
    color: silver;
    margin-bottom: 5px;
}

#viewerImg {
    width: 75%;
}

.viewer {
    text-align: center;
}

.viewer .button {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: rgba(192, 192, 192, 0.5);
    background-size: cover;
}

.viewer .button.previous {
    background-image: url(../images/previous.png);
}

.viewer .button.next {
    background-image: url(../images/next.png);
}
